<div id="location-signups-confirmation">
  <!-- <h3>Thanks, great deals are on their way to <span>{{email}}</span></h3>
  <h1 class="location">{{location.name}}</h1> -->

  <div class="heading">
  	<div class="">
      <span class="col-xs-2 fa fa-2x fa-birthday-cake icon"></span>
      <span class="col-xs-10 thanks">
        Thanks! We will send you a confirmation e-mail.
      </span>
    </div>
  	<hr width="25%">
  	<p>Check out some of these other businesses you may like.</p>
  </div>

  <div class="row">
		<div class="business">
      <div class="description">
				<div class="title">
					Jackson Place Cafe
				</div>
				<div class="dist">
					4.2 mi away from X
				</div>
      </div>
			<div class="image">
				<img src="http://tripwhat.com/img/travel/item:-9223372036852163167:photos/831eeca229abe5ba7e4a421bfd7aff50-450-190">
			</div>
  	</div>
  </div>
</div>
