<div id="home">
  <h1 class="header">Cake</h1>
  <p>Welcome</p>
  <a href="/locations">Check out all our locations</a>

  <div class="logo">
    <img src="/images/cake-logo.png" width="100" height="100">
  </div>
</div>
