/*site wide styles*/
html {
  height: 100%;
}

body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(to bottom right, #000000 , #916DB5);
  height: 100%;
  color: rgb(205, 205, 205);
}

a {
  color: #00B7FF;
}


/*home index page*/
#home {
  text-align: center;
  margin-top: 100px;
}

#home .logo {
  position: relative;
  top: 50px;
}


/*locations index page*/
#locations-index .header{
  text-align: center;
  margin-top: 100px;
}

#locations-index .location-list {
  position: relative;
  left: 20%;
}


/*location show page*/
#location-show .logo {
  position: relative;
  left: 35%;
}

#location-show .content {
  padding: 0 10px;
}

#location-show .location {
  color: white;
  margin-top: 0px;
}

#location-show .deal {
  position: relative;
  bottom: 10px;
}

#location-show span {
  color: #50BBDC;
}


/*location signups confirmation page*/
#location-signups-confirmation {
  text-align: center;
  margin-top: 100px;
}

#location-signups-confirmation span {
  color: #50BBDC;
}
