/*site wide styles*/
html {
  height: 100%;
}

body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(to bottom right, #000000 , #916DB5);
  height: 100%;
  color: rgb(205, 205, 205);
}

a {
  color: #00B7FF;
}


/*home index page*/
#home {
  text-align: center;
  margin-top: 100px;
}

#home .logo {
  position: relative;
  top: 50px;
}


/*locations index page*/
#locations-index .header{
  text-align: center;
  margin-top: 100px;
}

#locations-index .location-list {
  position: relative;
  left: 20%;
}


/*location show page*/
#location-show .logo {
  position: relative;
  left: 35%;
}

#location-show .content {
  padding: 0 10px;
}

#location-show .location {
  color: white;
  margin-top: 0px;
}

#location-show .deal {
  position: relative;
  bottom: 10px;
}

#location-show span {
  color: #50BBDC;
}

#location-show .image {
  height: 200px;
  margin-top: 40px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-size: cover;
}


/*location signups confirmation page*/
#location-signups-confirmation .row {
  border-bottom: 5px solid;
}

#location-signups-confirmation .row:nth-child(2){
  border-top: 5px solid
}

#location-signups-confirmation {
  margin-top: 30px;
}

#location-signups-confirmation span {
  font-size: 15px;
  text-transform: uppercase;
}

#location-signups-confirmation span.icon {
  font-size: 34px;
  color: #50BBDC;
}

#location-signups-confirmation .thanks {
  margin-bottom: 10px;
  color: white;
}

#location-signups-confirmation hr {
  margin-bottom: 10px;
}

#location-signups-confirmation .heading {
  margin-bottom: 20px;
}

#location-signups-confirmation .business .description {
  background-color: rgba(0, 0, 0, .55);
  padding: 15px;
  min-height: 100px;
}

#location-signups-confirmation .business .title {
  font-size: 30px;
  color: white;
}

#location-signups-confirmation .business .image {
  min-height: 100px;
  min-width: 100%;
}







/*#location-signups-confirmation .business .description {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 10px;
  position: relative;
  top: 58px;
  z-index: 10;
}*/

/*background-image: url(http://tripwhat.com/img/travel/item:-9223372036852163167:photos/831eeca229abe5ba7e4a421bfd7aff50-450-190);
opacity: .5;
}*/
